{% extends 'base.html.twig' %}

{% block title %}Liste des Films{% endblock %}
{% block menu_movie %} active {% endblock %}
{% block body %}

<section>
    <div class="admin-display">
            <h2 class="entitled"> Liste des films</h2>  
            {% for movie in movie_list %}
                <ul class="admin-list">
                    <li>
                        <strong><a class ="names-strong-link" href="{{ path('admin_movie_slug', {slug: movie.slug}) }}">{{ movie.title }}</a></strong>
                    </li>
                </ul>
            {% endfor %}

            {% if is_granted('ROLE_ADMIN') %}
            <a class="nav_admin" href="{{ path('admin_movie_add') }}"><button class="submit">Ajouter</button></a>
            {% endif %}
    </div>
</section>

{% endblock %}
