{% extends 'base.html.twig' %}

{% block title %}Liste des Films{% endblock %}
{% block menu_movie %} active {% endblock %}
{% block body %}

<section>
    <div class="admin-display">
        <div class="title-add">
            <h1 class="admin-principal"> Liste des films</h1>  
            
            {% if is_granted('ROLE_ADMIN') %}
            <a class="nav_admin" href="{{ path('admin_movie_add') }}"><button class="submit">Ajouter</button></a>
            {% endif %}
        </div>
            {% for movie in movie_list %}
                <ul class="admin-movie-list">
                    <li>
                        <strong class="movies-title-strong"><a class ="names-strong-link" href="{{ path('admin_movie_read', {id: movie.id}) }}"> {{ movie.title }}</a></strong>
                    </li>
                </ul>
            {% endfor %}
    </div>
</section>

{% endblock %}
