{% extends 'base.html.twig' %}

{% block title %}Modifier un utilisateur{% endblock %}
{% block menu_user %} active {% endblock %}
{% block body %}
<section class="bloc-admin-informations">
    <h2 class="entitled">Modifier : {{user.email}}</h2>    
    {{ include('user/_form.html.twig', {'button_label': 'Modifier'}) }}
</section>
{% endblock %}
