{% extends 'base.html.twig' %}

{% block title %}Créer un utilisateur{% endblock %}
{% block menu_user %} active {% endblock %}

{% block body %}
<section class="bloc-admin-informations">
    <h2 class="entitled">Créer un utilisateur</h2>

    {{ include('user/_form.html.twig') }}

</section>
{% endblock %}
