{% extends 'base.html.twig' %}

{% block title %}Créer un utilisateur{% endblock %}
{% block menu_user %} active {% endblock %}
{% block body %}
<section>
    <div class="home-bloc-movie-picture-show">
        <div class="home-bloc-movie-information-show">
            <h1>Créer un utilisateur</h1>

    {{ include('user/_form.html.twig') }}
                <div class="admin-footer">
                    <a class="nav_admin" href="{{ path('admin_user') }}"><button class="submit">Retour</button></a>
                </div>
        </div>
     </div>
</section>
{% endblock %}
