{% extends 'base.html.twig' %}

{% block title %}Liste Genres{% endblock %}
{% block menu_genre %} active {% endblock %}
{% block body %}
<section>
    <div class="admin-display">
        <h1 class="entitled"> Liste des genres</h1>  
        
        {% for genre in genre_list %}
            <ul class="admin-list">
                 <li>
                 <strong><a class ="names-strong-link" href="{{ path('admin_genre_read', {id: genre.id}) }}">{{ genre.name }}</a></strong>
                </li>
            </ul>
        {% endfor %}
        {% if is_granted('ROLE_ADMIN') %}
        <a class="nav_admin" href="{{ path('admin_genre_add') }}"><button class="submit">Ajouter</button></a>
        {% endif %}
    </div>
</section>
{# faire la liste des genres avec un lien vers la page read pour avoir le détail de de ce genre#}
{% endblock %}
