css
/*--------------- Home ---------------*/

body
{
    background-color: gray;
}

#wrapper
{
    margin: auto;
    width: 900px;
    font-family: 'Oswald', sans-serif;
}


.alert {
    color: white;
    font-size: 1rem;
    font-family:'Montserrat', sans-serif;
    height: 50px;
    text-align: center;
    padding-top: 1%;
    background-color: #211f1f;
    box-shadow: 0px 4px 4px #1c1a19;
    
}

.alert-info,
.form-error-message {
    color: #ff6100;
}

.alert-danger {
    color: #ff0000;
}

/*--------------- Header ---------------*/

.picture-logo
{
    height: 0;
    position: relative;
    left: 30px;
    top: 100px;
}

#header-navigation
{
    width: 1536px;
    height: 260px;
    margin: auto;
    display: flex;
    background-color: #211f1f;
    box-shadow: 0px 4px 4px #1c1a19;
    background-repeat: no-repeat;
    background-image: url('../images/bobine_v2.png');
}

.nav-principal
{
    display: flex;
}

#logo
{
    position: relative;
    left: -70px;
    top: 224px;
    height: 0;
}
.logo-link
{
    font-size: 1rem;
    color: #ffc312;
    text-decoration: none;
}

.nav-principal-item
{
    padding-top: 224px;
    list-style-type: none;
}


.nav-principal-link
{
    font-size: 1rem;
    margin-right: 15px;
    text-decoration: none;
    color: #ffff;
    border: 1px solid transparent;
    text-shadow: 0px 4px 4px #1c1a19;
}

.nav-principal-item a:hover 
{
    color: #ffc312;
    
}

.name-cinema
{
    font-size: 2.9rem;
    text-align: center;
}


/*--------------- Home_Front ---------------*/


.home-movie-picture-one
{
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.home-movie-picture
{
 justify-content: space-between;
}

.home-bloc-movie-picture
{
    border-radius: 5px;
    border: 2px solid black;
}

.names-strong-link
{
    font-size: 1.1rem;
    color: black;
    line-height: 25px;
    text-decoration: none;
}

.color-logo 
{
    font-weight: 400;
    color: #fdc112;
}
/*--------------- Show ---------------*/

.home-bloc-movie-picture-show
{
    margin: 5%;
    display: flex;
    justify-content: center;
}

.home-bloc-movie-information-show 
{
    margin-left: 50px;
}

.subtitle
{
    font-size: 1.2rem;
    line-height: 25px;
    margin-top: 2%;
}

.synopsis
{
    font-size: 1rem;
    margin-top: 8%;
    line-height: 25px;
    text-decoration: underline;
}

.paragraph
{
    font-size: 0.9rem;
    line-height: 20px;
}

.category
{
    font-size: 1rem;
    line-height: 20px;
    color: #ffff;
    text-shadow: 0px 4px 4px #1c1a19;
}

/*--------------- Admin ---------------*/

 .active {
    color: #ffc312;
 }

.active a:hover
{
    color:#ffff;
}

.admin-principal
{
    font-size: 1.8rem;
}

.admin-display
{
    margin: 5% 0;
}

.admin-footer
{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.admin-list
{
    line-height: 25px;
}

/*--------------- Admin_Nav ---------------*/

.submit
{
    cursor: pointer;
    font-family: 'Oswald';
    font-size: 1rem;
    margin: 3% 0 5%;
    border: none;
    border-radius: 5px;
    background-color: #ffc312;
    box-shadow: 0px 4px 4px #1c1a19;
}

.user-deco
{
    font-size: 0.9rem;
    position: absolute;
    top: 225px;
    left: 1100px;
    margin-right: 40px;
    text-align: right;
    color: rgb(134, 134, 134);
}

.user-co
{
    position: absolute;
    left: 1360px;
    top: 224px;
}

.connect
{
    font-size: 1rem;
    color: red;
    text-decoration: none;
}

.username
{
    font-size: 0.9rem;
    text-decoration: none;
    color: #ffff;
    border: 1px solid transparent;
    text-shadow: 0px 4px 4px #1c1a19;
}

.entitled
{
    font-size: 1.8rem;
    color: #ffc312;
    margin: 3% 0;
    text-shadow: 0px 4px 4px #1c1a19;
}

.nav_admin
{
    margin-right: 20px;
}


/*--------------- Footer --------------*/

footer
{
    height: 90px;
    color: #fff;
    padding: 2%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    background-color: #211f1f;
    box-shadow: 0px 4px 4px #1c1a19;
}

.footer-nav-link
{
    margin-right: 30px;
    color: #fff;
    text-decoration: none;
}


.footer-nav-made
{
    margin-top: 1%;
    font-size: 0.9rem;
}


/*--------------- Legals_Mentions --------------*/

.legals
{
    
    padding: 3%;
    display: flex;
    flex-direction: column;
}

.title-ml
{
    font-size: 1.5rem;
    margin: 1%;
}

.mention-title
{
    font-size: 1.2rem;
    margin: 1%;
}

.title-ml, .mention-title
{
    color: #ffc312;
    text-shadow: 0px 4px 4px #1c1a19;
}

.mention-paragraph
{
    line-height: 25px;
}

.mention-link
{
    color: #ffff;
    text-decoration: none;
}
.mention-link :hover
{
    color: #ffc312;
}

